.login {
    color: #fff;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.login .form-login {
    width: 500px;
}

.login .form-login .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login .form-login .login-tag {
    font-size: 28px;
}