.item {
    display: flex;
    padding: 10px 20px;

}

.item .icon {
    width: 25px;
    display: block;
    fill: #fff;
}

.item .icon.active {
    fill: #1DA1F2;
}

.item:hover {
    background-color: #053350;
    color: #1DA1F2;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.item:hover .icon {
    fill: #1DA1F2;
}

.item span {
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.item:hover span {
    color: #1DA1F2;
}